/flexstore4/bin-release/
/GettingStarted/bin-debug/
/GettingStarted/html-template/
/Intranet/html-template/history/history.js
/Intranet/html-template/swfobject.js
/registrationDemo/.sourceMateMetadataSettings
/registrationDemo/bin-release/
/oToucho
/swiz_cafeTownsend/docs
/TestLocale_with_Popup/
/TestLocalization/
/TestLocalization2/
/UsingParsley/bin-debug/
/UsingParsley/html-template/
/ItemRenderers/bin/
/ItemRenderers/libs/
/ItemRenderers/html-template/
